.footer {
  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: flex-end;
}

.footer a {
  font-weight: 300;
  font-size: 1.1rem;
  cursor: pointer;
  text-decoration: none;
  color: #FFF;
}