/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.red {
  color: #C62828;
}

.y-align-middle {
  vertical-align: middle;
}

.edit {
  margin-right: 5px;
}

.edit > i {
  color: #d9cd26;
}

.delete > i {
  color: #ed5e6d;
}